<div id="visualization-container" class="flexbox">

<div id="canvas-wrapper">
    <canvas id="canvas" 
        resize
        width={{getWindowDimensions().w}}
        height={{getWindowDimensions().h}}>
    </canvas>
</div>

<div id="card-bar" class="right">

    <ul>
        <li ng-repeat="card in cards" class="card">
            <p>{{card.text}}</p>
            <input ng-repeat="input in card.inputs"
                type={{input.type}}
                placeholder={{input.placeholder}}
                ng-model="input.data"
                ng-change="input.updates(input.data)">
            </input>
        </li>
    </ul>

</div>

</div>