/**
 * Helpers
 */
.full-height {
  min-height: 100%;
}

.no-margin {
  margin: 0;
}

.no-scroll {
  overflow: hidden;
}

.right {
  right: 0;
}

/**
 * Navbar layout
 */
#main-navbar {
  height: 50px;
  color: #f4f4f4;
  background: #222222;
  border-bottom: 1px solid #111111;
}

#logo {
  font-family: "Pacifio";
}

/**
 * Visualization layout
 */
#canvas {
  background: #333333;
}

/**
 * Card Bar layout
 */
#card-bar { 
  margin: 0;
  padding: 0;
  background: #202020;
}
#card-bar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.card {
  margin: 10px;
  padding: 5px;
  min-height: 100px;
  background: #f4f4f4;
}