/**
 * Card Bar layout
 */
#card-bar {
  width: 500px;
  position: relative;
  background: @color-cardBarBg;
}
#card-bar ul {
  list-style: none;
  height: 100%;
  bottom: 0;
  left: 0;
  overflow: auto;
  position: absolute;
  right: 0;
  top: 0;
}
#card-bar li {
  border-radius: 2px;
  margin: 10px;
  padding: 5px;
  min-height: 20px;
}
li.card {
  min-height: 100px;
  background: @color-almostWhite;
}
li#btn-next {
  margin-top: 0;
  background: @gradient-green;
  text-align: center;
  font-size: 1.5em;
  color: white;
  cursor: pointer;
}
#card-bar .equation-block {
  margin: 5px 0;
  background: white;
}
#card-bar .equation-block equation {
  display: block;
  padding: 10px;
}