/**
 * Card Bar layout
 */
#card-bar {
  width: 400px;
  position: relative;
  background: @color-cardBarBg;
}
#card-bar ul {
  height: 100%;
  bottom: 0;
  left: 0;
  overflow: auto;
  position: absolute;
  right: 0;
  top: 0;
}
.card {
  margin: 10px;
  padding: 5px;
  min-height: 100px;
  background: @color-almostWhite;
}