/**
 * Gallery layout
 */
.gallery {
}

#gallery-info-wrapper {
  padding: 10px;
  min-width: 400px;
  .centered-x-container;
}
#gallery-title {
  color: #f4f4f4;
  .centered-x;
}
#gallery-expression {
  color: #f4f4f4;
  .centered-x;
}