/**
 * Helpers
 */
.right {
  right: 0;
}

/**
 * Flexing
 */
.flexbox {
  display: flex;
  flex-direction: column;
}
.subflexer {
  flex: auto;
  display: flex;
  flex-direction: row;
}

/**
 * Centering
 */
.centered-x-container {
  position: absolute;
  left: 50%;
  top: 51px;
  text-align: center;
}
.centered-x {
  position: relative;
  width: 100%;
  left: -50%;
}