/**
 * Text styles
 */
.green {
  color: @color-green;
}
.blue {
  color: @color-blue;
}
.red {
  color: @color-red;
}
.light-blue {
    color: @color-lightblue;
}
.orangeyellow {
    color: @color-orangeyellow;
}
.yellow {
    color: @color-yellow;
}


.default-font-style {
  font-family: 'Asap', 'ubuntu', helvetica, sans-serif;
}

.equation-fallback {
  font-family: 'ubuntu-mono', monospace;
  // font-style: italic;
}

.equation {
  .equation-fallback;
  // otherwise - style with MathJax
}
