<div id="canvas-wrapper">
    <canvas
        id="canvas"
        resize
        ng-style="style()"
        width={{getElementDimensions().w}}
        height={{getElementDimensions().h}}
        publish={{publishCanvasDimensions()}}>
    </canvas>
</div>

<div id="card-bar" class="right">
    <ul>
        <li class="card">
            <p>Here's my card</p>
        </li>

        <li class="card" subscribe="state">
            <p>theta: {{publisher.theta}}</p>
            <p>phi: {{publisher.phi}}</p>
        </li>
    </ul>
</div>