<div id="canvas-wrapper">
    <canvas
        id="canvas"
        resize
        ng-style="style()"
        width={{getElementDimensions().w}}
        height={{getElementDimensions().h}}
        publish={{publishCanvasDimensions()}}
        mouse-event="mousedrag">
    </canvas>
</div>

<div id="card-bar" class="right">
    <ul cardturner>
        <li class="card" subscribe="state">
            <p>Betrakta <span class="light-blue">funktionskurvan</span></p>
            <div class="equation-block">
                <equation pre="y=f(x)=1-(" watch="publisher.xCoefficient" post="x^2),0<x<1"></equation>
            </div>
            <input
            type="range"
            min="-1"
            max="1"
            step="0.1"
            ng-model="rangeValue"
            ng-change="publisher.set('xCoefficient', rangeValue)" />
        </li>
        
        <li class="card hidden">
          <p>Vi vill beräkna volymen av det <span class="orangeyellow">område</span> som bildas då kurvan roteras kring x-axeln.</p>
        </li>

        <li class="card hidden">
            <p>
                En grov uppskattning av denna volym är volymen av en <span class="orangeyellow">cylinder</span>.
            </p>
            <div class="equation-block">
                <equation expr="V = pi*r^2*h = pi*f(x)^2*h"></equation>
            </div>
            <p>
                I vårt fall låter vi
                <equation expr="r=f(0.5)=0.75"></equation> och
                <equation expr="h=1"></equation>
                detta ger
            </p>
            <div class="equation-block">
                <equation expr="V=pi*0.75^2*1 &#8776; 1.76 v.e"></equation>
            </div>
            

            <!-- <div class="equation-block">
                <equation expr="dV=pi*f(x)^2 dx=pi*x^4 dx="></equation>
                <span ng-model="elementPos">
                    {{
                        (elementPos/100*
                        elementPos/100*
                        elementPos/100*
                        elementPos/100
                        || 0.0625).toFixed(2)
                    }}
                </span>
                <equation expr="pi dx"></equation>
            </div>
            <p>Titta på olika volymelement längs x-axeln:</p>
            <input 
                type="range"
                ng-model="elementPos"
                ng-change="updateState('elementPos', elementPos/100)">
                <equation expr="x="></equation>
                <span>{{elementPos/100 || 0.5}}</span>
            </input> -->
        </li>
        <li class="card hidden">
            <p>
                En bättre uppskattning vore att beräkna volymen av två cylindrar, båda med <equation expr="h=0.5"></equation> och radier
                <span class="orangeyellow"><equation expr="r_1=f(0.25)"></equation></span>
                respektive
                <span class="yellow"><equation expr="r_2=f(0.75)"></equation></span>.
            </p>
        </li>
        <li class="card hidden">
            <p>
                Ju fler cylindrar vi använder, desto bättre approximation får vi av den sökta volymen.
            </p>
            <p>
                I teorin skulle med andra ord <em>oändligt många</em> cylindrar vara den bästa approximationen.
            </p>
            <p>
                Matematiskt kan detta uttryckas som en <em>integral</em>
                där vi integrerar dessa cylindrar. 
            </p>
            <div class="equation-block">
                <equation expr="int_{0<x<1} pi*f(x)^2 dx"></equation>
            </div>
        </li>
        <li id="btn-next">
            Gå vidare
        </li>
    </ul>
</div>
